<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" shutdownHook="disable">
  <Properties>
    <Property name="log.path">logs</Property>
    <Property name="log.stackdriver.serviceName">chaos-worker</Property>
    <Property name="log.stackdriver.serviceVersion">2.0.0</Property>
  </Properties>

  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level Java Client: %logger{36} - %msg%n"/>
    </Console>

    <Console name="Stackdriver" target="SYSTEM_OUT">
      <StackdriverLayout serviceName="${log.stackdriver.serviceName}"
        serviceVersion="${log.stackdriver.serviceVersion}"/>
    </Console>

    <RollingFile name="RollingFile" fileName="${log.path}/zeebe.log"
      filePattern="${log.path}/zeebe-%d{yyyy-MM-dd}-%i.log.gz">
      <Policies>
        <TimeBasedTriggeringPolicy/>
        <SizeBasedTriggeringPolicy size="250 MB"/>
      </Policies>
    </RollingFile>
  </Appenders>

  <Loggers>
    <Logger name="io.zeebe.bpmnspec" level="trace"/>
    <Logger name="io.zeebe.chaos" level="debug"/>
    <Logger name="io.zeebe" level="info"/>
    <Logger name="io.zeebe.client.job.poller" level="error"/>

    <Root level="info">
      <AppenderRef ref="RollingFile"/>
      <AppenderRef ref="Stackdriver"/>
    </Root>
  </Loggers>
</Configuration>
